{
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "trailingComma": "es5",
  "overrides": [
    {
      "files": [
        "*.yml",
        "*.yaml"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
