<app-block title="User list">
  <form *ngIf="searchForm | async as searchForm" [formGroup]="searchForm">
    <label for="name">Search by name:</label>
    <input type="text" formControlName="name">
  </form>
  <table class="user-list__table">
    <th>Email</th>
    <th>Name</th>
    <th>Username</th>
    <th>Website</th>
    <th></th>
    <tr *ngFor="let user of users | async" [routerLink]="['/', 'user', 'detail', user.id]">
      <td>
        {{ user.email }}
      </td>
      <td>
        {{ user.name }}
      </td>
      <td>
        {{ user.username}}
      </td>
      <td>
        {{ user.website }}
      </td>
      <td>
        <button class="elevated-btn" (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </table>
</app-block>
